<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div class="container mt-5">
        <h2>Registrar Nuevo Libro</h2>
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="mb-3">
                {{ form.nombreLibro.label_tag }}
                {{ form.nombreLibro }}

            </div>

            <div class="mb-3">
                {{ form.autor.label_tag }}
                {{ form.autor }}
            </div>

            <div class="mb-3">
                {{ form.genero.label_tag }}
                {{ form.genero }}
            </div>
            <div class="mb-3">
                {{ form.editora.label_tag }}
                {{ form.editora }}
            </div>
            <div class="mb-3">
                {{ form.precio.label_tag }}
                {{ form.precio }}
            </div>
            <div class="mb-3">
                {{ form.fechaPublicacion.label_tag }}
                {{ form.fechaPublicacion }}
            </div>
            <div class="mb-3">
                {{ form.imagen.label_tag }}
                {{ form.imagen }}
            </div>
            <div class="mb-3">
                {{ form.sinopsis.label_tag }}
                {{ form.sinopsis }}
            </div>
            <div class="mb-3">
                {{ form.disponible.label_tag }}
                {{ form.disponible }}
            </div>
            
            <button type="submit" class="btn btn-primary" >
                Guardar Libro
            </button>


        </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>